* {
    transition: .3s;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.app-container {
    position: absolute;
    overflow: hidden;
    height: 100%;
}

.app-timer {
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 2;
    font-size: 2em;
    background: #cddc39;
    color: rgb(157, 163, 143);
    padding: 5px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    height: calc(100vh - 90px);
    width: 100vw;
    overflow: hidden scroll;
    margin: 45px 0;
}


.main-container::-webkit-scrollbar {
    width: 10px;
}


.main-container::-webkit-scrollbar-track {
    background: #ebffeb97; 
}

.main-container::-webkit-scrollbar-thumb {
    background: white; 
    border: .5px solid rgba(0, 0, 0, 0.489);
}
  
.main-container::-webkit-scrollbar-thumb:hover {
    border-color: rgb(70, 66, 66); 
} 